img {
    max-width: 100%;
}

.your-clock {
    color:black;
    text-align:center;

}
.head_text {
    background-color: #fff;
    color: #e11111;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    position: fixed;
    top: 25px;
    width: 100%;
}

.valinpbox {
    float: left;
}

.availbuttonscls {
    float: left;
}

.clear {
    clear: both;
}

.eachtask{
    margin: 40px auto;
    padding: 10px 5px;
    border: 1px solid;
    width: 1000px;
}

.optionsdiv{
    margin: 5px auto;
    width: 80%;
}

.availbuttonscls label {
    float:left;
    width:170px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    cursor: pointer;
}

.availbuttonscls label span {
    text-align:center;
    font-size: 15px;
    padding:5px 0px;
    display:block;
}

.availbuttonscls label input {
    position:absolute;
    top:-20px;
    visibility: hidden;
}

.availbuttonscls input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

.availbuttonscls .yellow {
    background-color:#FFCC00;
    color:#333;
}

.sbmtbtn {
   border-top: 1px solid #b9bf8f;
   background: #4a4937;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffe8), to(#4a4937));
   background: -webkit-linear-gradient(top, #ffffe8, #4a4937);
   background: -moz-linear-gradient(top, #ffffe8, #4a4937);
   background: -ms-linear-gradient(top, #ffffe8, #4a4937);
   background: -o-linear-gradient(top, #ffffe8, #4a4937);
   padding: 9.5px 19px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   width: 150px;
   }
   
.sbmtbtn:hover {
   border-top-color: #75726a;
   background: #75726a;
   color: #ccc;
   }
   
.sbmtbtn:active {
   border-top-color: #4e4f46;
   background: #4e4f46;
   }
   
.displayPane {
    margin-top: 100px;
}

.menupane {
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.eachTaskDesc {
    font-weight: 600;
    margin: 5px 0;

}